# App runtime
PORT=5074

# Database (normalized fields)
DB_HOST=db
DB_USER=postgres
DB_PASSWORD=your_db_password
DB_NAME=TESTQLK
CONNECTION_STRING=Host=db;Port=5432;Database=TESTQLK;Username=postgres;Password=your_db_password;

# Backend API (.NET expected keys)
ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=TESTQLK;Username=postgres;Password=your_db_password
ConnectionStrings__HangfireConnection=Host=db;Port=5432;Database=TESTQLK;Username=postgres;Password=your_db_password
Hangfire__Enabled=true
Redis__ConnectionString=redis:6379
Jwt__Key=replace_with_a_strong_secret_key
Jwt__Issuer=BackendAPI
Jwt__Audience=Frontend
Email__DisplayName=Stockify
Email__FromAddress=stockify.support@gmail.com
Email__SmtpHost=smtp.gmail.com
Email__SmtpPort=587
Email__Username=stockify.support@gmail.com
Email__Password=replace_with_email_app_password
Email__UseStartTls=true
Frontend__VerifyEmailUrl=http://3.106.211.154:5173/verify-email

# Docker/Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=TESTQLK

# Frontend
VITE_API_URL=http://3.106.211.154:5074/api
FRONTEND_IMAGE=huongztomato/se104-frontend:latest
BACKEND_IMAGE=huongztomato/se104-backend:latest
Cors__AllowedOrigins=http://3.106.211.154:5173,http://localhost:5173
