.modal-input {
  width: 100%;                  /* w-full */
  padding: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  
  border: 1px solid #d1d5db;    /* border border-gray-300 */
  border-radius: 0.5rem;        /* rounded-lg (8px) */

  transition: all;
  outline: none;                /* focus:outline-none */
  /* box-sizing: border-box;       Đảm bảo padding không làm tràn width */
}

.modal-input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px #3b82f6; 
}

/* Kiểu dáng cho nhãn (Label) */
.modal-label {
  display: block;
  font-weight: 600;
  font-size: 16px;
  color: #374151;
  /* margin-bottom: 8px; */
}



